stages: [build, deploy]

variables:
  IMAGE: "$CI_REGISTRY_IMAGE/testapp"
  HELM_RELEASE: "testapp"
  HELM_CHART: "helm/testapp"
  KUBE_NAMESPACE: "default"

build:
  stage: build
  image: docker:27
  services:
    - docker:27-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login "$CI_REGISTRY" -u "$CI_REGISTRY_USER" --password-stdin
    - docker build -t "$IMAGE:$CI_COMMIT_TAG" .
    - docker push "$IMAGE:$CI_COMMIT_TAG"
  rules:
    - if: '$CI_COMMIT_TAG'

deploy:
  stage: deploy
  image: alpine/helm:3.14.4
  before_script:
    - apk add --no-cache curl bash coreutils
    - curl -LO "https://dl.k8s.io/release/v1.29.15/bin/linux/amd64/kubectl"
    - install -m 0755 kubectl /usr/local/bin/kubectl
    - mkdir -p ~/.kube
    - echo "$KUBECONFIG_B64" | base64 -d > ~/.kube/config
    - chmod 600 ~/.kube/config
  script:
    - helm upgrade --install "$HELM_RELEASE" "$HELM_CHART" -n "$KUBE_NAMESPACE" \
        --set image.repository="$IMAGE" \
        --set image.tag="$CI_COMMIT_TAG" \
        --set image.pullPolicy=Always
    - kubectl rollout status deploy/testapp-testapp-app -n "$KUBE_NAMESPACE" --timeout=180s
  rules:
    - if: '$CI_COMMIT_TAG'
