apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "testapp.fullname" . }}-pgdata
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.postgres.storage.size }}

