name: Deploy to Kubernetes

on:
  workflow_run:
    workflows: ["Build & Push Docker image (GHCR)"]
    types: [completed]
  workflow_dispatch:

jobs:
  deploy:
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set image tag
        run: |
          if [[ "${{ github.event.workflow_run.head_branch }}" == "main" ]]; then
            echo "TAG=latest" >> $GITHUB_ENV
          else
            echo "TAG=${{ github.event.workflow_run.head_branch }}" >> $GITHUB_ENV
          fi

      - name: Install kubectl
        run: |
          curl -LO https://dl.k8s.io/release/v1.29.0/bin/linux/amd64/kubectl
          sudo install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
          kubectl version --client

      - name: Install Helm
        run: |
          curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
          helm version

      - name: Configure kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG_B64 }}" | base64 -d > ~/.kube/config
          chmod 600 ~/.kube/config
          kubectl cluster-info
          kubectl get nodes

      - name: Deploy via Helm
        run: |
          helm upgrade --install testapp ./helm/testapp \
            --set image.repository=ghcr.io/cristina97is/testapp \
            --set image.tag=${TAG} \
            --set image.pullPolicy=Always

      - name: Check rollout
        run: |
          kubectl rollout status deploy/testapp-testapp-app --timeout=180s
          kubectl get pods -o wide
